global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:80
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgresql_172.31.0.132_5432 172.31.0.132:5432 maxconn 100 check port 8008
    server postgresql_172.31.0.133_5432 172.31.0.133:5432 maxconn 100 check port 8008
    server postgresql_172.31.0.134_5432 172.31.0.134:5432 maxconn 100 check port 8008